<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsS1bX4F7FW_xsmcjunsSa953kHzo_bXw</string>
	<key>GCM_SENDER_ID</key>
	<string>875455952905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>repositorio.Donadi</string>
	<key>PROJECT_ID</key>
	<string>repositoriodonadi</string>
	<key>STORAGE_BUCKET</key>
	<string>repositoriodonadi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875455952905:ios:4f5e033f48a5eb4d6fa0d8</string>
	<key>DATABASE_URL</key>
	<string>https://repositoriodonadi-default-rtdb.firebaseio.com</string>
</dict>
</plist>